<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>

    <RollingFile name="FILE"
                 fileName="logs/myapp.log"
                 filePattern="logs/myapp-%d{MM-dd-yyyy}.log.gz"
                 ignoreExceptions="false">
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
      <Policies>
        <TimeBasedTriggeringPolicy/>
      </Policies>
    </RollingFile>
  </Appenders>

  <Loggers>
    <Root level="all">
        <AppenderRef ref="${sys:appender-name}"> </AppenderRef>
    </Root>
  </Loggers>
</Configuration>
